<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="New Rule Set" Description=" " ToolsVersion="16.0">
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0022" Action="None" />
  </Rules>
  <Rules AnalyzerId="Roslynator.CSharp.Analyzers" RuleNamespace="Roslynator.CSharp.Analyzers">
    <Rule Id="RCS1001" Action="Error" />
    <Rule Id="RCS1003" Action="Error" />
    <Rule Id="RCS1005" Action="Info" />
    <Rule Id="RCS1006" Action="Warning" />
    <Rule Id="RCS1007" Action="Error" />
    <Rule Id="RCS1008" Action="Error" />
    <Rule Id="RCS1009" Action="Info" />
    <Rule Id="RCS1013" Action="Error" />
    <Rule Id="RCS1015" Action="Warning" />
    <Rule Id="RCS1016" Action="Info" />
    <Rule Id="RCS1018" Action="Error" />
    <Rule Id="RCS1019" Action="Error" />
    <Rule Id="RCS1020" Action="Error" />
    <Rule Id="RCS1031" Action="Warning" />
    <Rule Id="RCS1032" Action="Warning" />
    <Rule Id="RCS1033" Action="Warning" />
    <Rule Id="RCS1034" Action="Info" />
    <Rule Id="RCS1035" Action="Warning" />
    <Rule Id="RCS1036" Action="Warning" />
    <Rule Id="RCS1036a" Action="Warning" />
    <Rule Id="RCS1037" Action="Warning" />
    <Rule Id="RCS1038" Action="Warning" />
    <Rule Id="RCS1039" Action="Warning" />
    <Rule Id="RCS1040" Action="Warning" />
    <Rule Id="RCS1041" Action="Warning" />
    <Rule Id="RCS1042" Action="Error" />
    <Rule Id="RCS1043" Action="Error" />
    <Rule Id="RCS1045" Action="Warning" />
    <Rule Id="RCS1048" Action="Warning" />
    <Rule Id="RCS1049" Action="Warning" />
    <Rule Id="RCS1050i" Action="Warning" />
    <Rule Id="RCS1055" Action="Warning" />
    <Rule Id="RCS1056" Action="Warning" />
    <Rule Id="RCS1060" Action="Warning" />
    <Rule Id="RCS1061" Action="Info" />
    <Rule Id="RCS1066" Action="Warning" />
    <Rule Id="RCS1069" Action="Info" />
    <Rule Id="RCS1070" Action="Warning" />
    <Rule Id="RCS1071" Action="Warning" />
    <Rule Id="RCS1072" Action="Warning" />
    <Rule Id="RCS1073" Action="Warning" />
    <Rule Id="RCS1077" Action="Warning" />
    <Rule Id="RCS1079" Action="Error" />
    <Rule Id="RCS1080" Action="Error" />
    <Rule Id="RCS1085" Action="Warning" />
    <Rule Id="RCS1091" Action="Error" />
    <Rule Id="RCS1093" Action="Warning" />
    <Rule Id="RCS1094" Action="Error" />
    <Rule Id="RCS1096i" Action="Warning" />
    <Rule Id="RCS1097" Action="Warning" />
    <Rule Id="RCS1098" Action="Error" />
    <Rule Id="RCS1103" Action="Warning" />
    <Rule Id="RCS1104" Action="Warning" />
    <Rule Id="RCS1105" Action="Warning" />
    <Rule Id="RCS1106" Action="Warning" />
    <Rule Id="RCS1107" Action="Warning" />
    <Rule Id="RCS1108" Action="Warning" />
    <Rule Id="RCS1110" Action="Error" />
    <Rule Id="RCS1113" Action="Warning" />
    <Rule Id="RCS1114" Action="Warning" />
    <Rule Id="RCS1123" Action="Warning" />
    <Rule Id="RCS1124" Action="None" />
    <Rule Id="RCS1126" Action="Error" />
    <Rule Id="RCS1128" Action="Warning" />
    <Rule Id="RCS1129" Action="Warning" />
    <Rule Id="RCS1132" Action="Error" />
    <Rule Id="RCS1133" Action="Warning" />
    <Rule Id="RCS1134" Action="Error" />
    <Rule Id="RCS1135" Action="Warning" />
    <Rule Id="RCS1136" Action="Info" />
    <Rule Id="RCS1143" Action="Warning" />
    <Rule Id="RCS1145" Action="Warning" />
    <Rule Id="RCS1151" Action="Warning" />
    <Rule Id="RCS1154" Action="Warning" />
    <Rule Id="RCS1158" Action="Warning" />
    <Rule Id="RCS1160" Action="Error" />
    <Rule Id="RCS1163" Action="Warning" />
    <Rule Id="RCS1164" Action="Warning" />
    <Rule Id="RCS1166" Action="Warning" />
    <Rule Id="RCS1168" Action="Info" />
    <Rule Id="RCS1174" Action="Info" />
    <Rule Id="RCS1181" Action="Info" />
    <Rule Id="RCS1182" Action="Info" />
    <Rule Id="RCS1186" Action="Warning" />
    <Rule Id="RCS1187" Action="Warning" />
    <Rule Id="RCS1188" Action="Warning" />
    <Rule Id="RCS1189" Action="Info" />
    <Rule Id="RCS1192" Action="Error" />
    <Rule Id="RCS1195" Action="Warning" />
    <Rule Id="RCS1196" Action="Warning" />
    <Rule Id="RCS1198" Action="Info" />
    <Rule Id="RCS1201" Action="Info" />
    <Rule Id="RCS1208" Action="Info" />
    <Rule Id="RCS1211" Action="Warning" />
    <Rule Id="RCS1212" Action="Warning" />
    <Rule Id="RCS1214" Action="Error" />
    <Rule Id="RCS1218" Action="Warning" />
    <Rule Id="RCS1220" Action="Warning" />
    <Rule Id="RCS1221" Action="Warning" />
    <Rule Id="RCS1227" Action="Error" />
    <Rule Id="RCS1228" Action="Info" />
    <Rule Id="RCS1229" Action="Warning" />
    <Rule Id="RCS1231" Action="Info" />
    <Rule Id="RCS1233" Action="Warning" />
    <Rule Id="RCS1234" Action="Error" />
    <Rule Id="RCS1235" Action="Warning" />
    <Rule Id="RCS1236" Action="Warning" />
    <Rule Id="RCS1238" Action="Info" />
    <Rule Id="RCS1244" Action="Warning" />
    <Rule Id="RCS1248a" Action="Info" />
  </Rules>
  <Rules AnalyzerId="Roslynator.CodeAnalysis.Analyzers" RuleNamespace="Roslynator.CodeAnalysis.Analyzers">
    <Rule Id="RCS9001" Action="Warning" />
    <Rule Id="RCS9003" Action="Error" />
    <Rule Id="RCS9005" Action="Error" />
    <Rule Id="RCS9006" Action="None" />
  </Rules>
  <Rules AnalyzerId="Roslynator.Formatting.Analyzers" RuleNamespace="Roslynator.Formatting.Analyzers">
    <Rule Id="RCS0001" Action="Warning" />
    <Rule Id="RCS0003" Action="Warning" />
    <Rule Id="RCS0008" Action="Warning" />
    <Rule Id="RCS0009" Action="Warning" />
    <Rule Id="RCS0010" Action="Warning" />
    <Rule Id="RCS0011i" Action="Warning" />
    <Rule Id="RCS0015i" Action="Warning" />
    <Rule Id="RCS0021" Action="Warning" />
    <Rule Id="RCS0023" Action="Warning" />
    <Rule Id="RCS0025" Action="Warning" />
    <Rule Id="RCS0027i" Action="Warning" />
    <Rule Id="RCS0028" Action="Warning" />
    <Rule Id="RCS0030" Action="Warning" />
    <Rule Id="RCS0031" Action="Warning" />
    <Rule Id="RCS0033" Action="Warning" />
    <Rule Id="RCS0038" Action="Warning" />
    <Rule Id="RCS0041" Action="Error" />
    <Rule Id="RCS0043" Action="Warning" />
    <Rule Id="RCS0046" Action="Warning" />
    <Rule Id="RCS0050" Action="Warning" />
    <Rule Id="RCS0051i" Action="Warning" />
    <Rule Id="RCS0052i" Action="Warning" />
    <Rule Id="RCS0053" Action="Info" />
    <Rule Id="RCS0054" Action="Info" />
    <Rule Id="RCS0055" Action="Warning" />
    <Rule Id="RCS0056" Action="Error" />
  </Rules>
</RuleSet>